<h1>Contact Me</h1>
<p>You can reach us by either:</p>
<p>Calling:<font color = "blue">+2001154457229</font></p>
<p>Sending us an e-mail on:<font color = "blue">i_salah@live.com</font> / <font color = "blue">i.hasab@robone.net</font></p>
<p><%=link_to "Back to Home page", wizard_home_path%></p>
