<h1>Hello to my blog!</h1>
<p><font size = 5 color = "blue">For a start...I recommend everyone to listen to some pink floyd music once each while.I am Ismail Salah Hassaballa,an egyptian 15 year old , student with many weird hobbies and sports ! ;)One of my favourite sports will be MTB!(mountin biking) and yes!! we have some awesome trails here in Egypt!!....And for the famous question"How is school going?".......well,its really quite awesome.Im an igcse student in the MES here in egypt in cairo (It is really a good school).That's all for now!! </font></p>
<p>                            <font size = 3 color = brown> -Posted on 06/07/2017 at 08:42 pm</font></p>
<p> <%=link_to "back to Home",wizard_home_path%></p>
