

<h1>Welcome to Ismail Hassaballa's offical page!! </h1>

<p><font size = 6 color = "black">Quote of the day :</font><font size = 6 color = "blue"><b> <%= @quote %></b></font></p>
<p><%=link_to "My Blog",wizard_blog_path %></p>
<p><%=link_to "Movie database",wizard_blog_path %></p>
<p><%=link_to "Contact me",contact_contact_details_path %></p>
